/*
|----------------------------------------------------------------------------
| GLOBAL STYLES
|----------------------------------------------------------------------------
*/
/******************** TYPOGRAPHY ********************/
html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #696969;
  font-size: 14px;

}
img {
  width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  color: #313131;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.82rem;
  font-weight: 600;
  color:black;
  line-height: 1.04;
  text-transform: uppercase;
  margin-bottom: 25px;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
}

h4 {
  font-size: 1.125em;
  font-weight: 800;
  margin-top: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
  color: #444;

}

a:focus {
  text-decoration: none;
}



/******************** NAVIGATIONS ********************/

header {
  min-height: 200px;
}

svg{
  height: 100%;
  width: 100%;
}

.navbar-dark{
  transition: all 2s;
  background: red!important;
}

.fixed-top.navbar {
  padding: 0 15px 0 15px!important;
}
.my-top-nav {
  height: 110px;
  transition: all 2s;
}

.my-bottom-nav{
  top: 110px;
  transition: all 2s;
}

.top-nav-date{
  color: #fff;
  font-weight: bold;
}

.top-nav-sub .signin {
  background: none;
  color: #fff;
  border: 0 solid red;
}


.top-nav-sub .subscribe {
  background: #fff;
  color: red;
  font-weight: bold;
  border: 0 solid red;
  padding: 0 5px 0 5px;
}
.my-bottom-nav.navbar-light {
  background: #fff!important;
  border-bottom: 2px solid #808080;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.3rem;
  font-weight: bold;
  border-right: 1px solid #808080;
  line-height: 20px;
  color: black;
  padding-right: 12px;
  padding-left: 15px;
}


.navbar-nav .nav-item .nav-link:hover {
  color: red;
}

.content-flex-panel {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.content-flex-panel h4 {
  font-size: 14px;
  font-weight: 400;
  padding: 0;

}
.us-section {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}


@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {

    svg{
      height: 55px;
      width: 130px;
    }

    .my-bottom-nav.navbar-light {

      border-bottom: 0px solid #808080;
    }

    .navbar-nav .nav-item .nav-link {

      border-right: 0px solid #808080;
    }

}



/********************************************************************/


.mid-col {
  position: static;
}
 bottom-section
.featured-stories, .top-stories, .opinion {
  padding: 10px;

}
.content-block {

}
.content-panel {
  margin: 15px auto;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
}

/********************************************************************/



@media (max-width: 768px) {
  .content {
    width: 98%;
  }

}

.border {
  height: 1px;
  background: black;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

/******************** INTHEMEGAZINE ********************/
.mg-top{
  margin-top: 35px;
}

.section-generic {
  min-height: 800px;
  margin-top: 50px;
}

.section-generic img{
  width: 100%;
}


/****************** Footer **************************/
footer {
  margin: 50px auto;

}
footer .footer-top {
  padding: 20px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
footer img {
  width: 280px;
}
footer span {
padding: 10px;
vertical-align: bottom;
}
footer .social-icon {
}
footer .social-icon i {
  padding: 10px;
  font-size: 25px;
}
footer a {
  margin: 5px auto;
  padding: 0 10px;
  border-right: 2px solid #ddd;
}
